@import "tailwindcss";
/* Floating Avatar */
@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.animate-floating {
  animation: floating 4s ease-in-out infinite;
}

/* Typewriter Effect */
.typing-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #00FF9D;
  animation: typing 4s steps(30) infinite, blink 0.6s infinite;
}
@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; }
}
@keyframes blink {
  50% { border-color: transparent; }
}
